<h1>showページ<h1>
<% @garbage.each do |garbage| %>
<li class='list'>
<%= link_to garbage.title, edit_garbage_path(garbage.id) %>
<% end %>
</li>

<%= link_to root_path do %>
  <button>戻る</button>
<% end %>